<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="temat">
            <h2><span>Temat</span> {{temat.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nazwa</span></dt>
                <dd>
                    <span>{{temat.nazwa}}</span>
                </dd>
                <dt><span>Program</span></dt>
                <dd>
                    <div *ngIf="temat.program">
                        <a [routerLink]="['/program', temat.program?.id, 'view']">{{temat.program?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/temat', temat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
